@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 * {
	 /* box-sizing: border-box; */
	 margin: 0;
	 padding: 0;
}

body {
  display: inline;
  /* width: 1000%; */
}
.nav {
  background-color: #003559;
  color: #E4C9B0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav .navbar-nav mr-auto {
    list-style: none;
    display: flex;
    align-items: center;
  }


.nav li {
  margin-right: 20px;
}
.nav .nav-item{
    margin-right: 20px;
}
.nav a {
  color: #E4C9B0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.nav button {
  color: #E4C9B0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}


.nav .navbar-brand {
    color: #E4C9B0;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
.nav .nav-link{
    color: #E4C9B0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.nav .nav-link:hover{
    background-color: #809BCE;
}

.nav a:hover {
  background-color: #809BCE;
}
 .mainform {
	 align-items: center;
	 background: #fffdfc;
	 color: rgba(0, 0, 0, .8);
	 display: grid;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 14px;
	 font-weight: 400;
	 height: 120vh;
	 justify-items: center;
	 weight: 100vw;
}
.signup-container {
	 display: grid;
	 grid-template-areas: "left right";
	 max-width: 1100px;
	 border: 2px rgb(7, 7, 106);
}
 .left-container {
	 background: #469c9d;
	 overflow: hidden;
	 padding: 40px 0 0 0;
	 position: relative;
	 text-align: center;
	 width: 400px;
}
 .left-container h1 {
	 color: rgba(19, 19, 19, 0.8);
	 display: inline-block;
	 font-size: 5rem;
	 margin-bottom: 60%;
}
 .logo{
	width: 10%;
	height: 10%;
 }
 .left-container .puppy {
	 bottom: 23%;
	 position: absolute;
	 text-align: center;
}
 .left-container .puppy:before {
	 background: #8071821b;
	 content: "";
	 height: 100%;
	 left: 0;
	 opacity: 0.1;
	 position: absolute;
	 width: 100%;
	 z-index: 1;
}
 .left-container img {
	 margin-bottom: 10%;
	 width: 100%;
}
 .right-container {
	 background: #7f7e7c2e;
	 display: grid;
	 grid-template-areas: "." ".";
	 width: 700px;
   min-height: 120px;
}
h2 {
  font-size: 30px;
}
 .right-container h1:nth-of-type(1) {
	 color: rgba(0, 0, 0, .8);
	 font-size: 20px;
	 font-weight: 600;
}
 .right-container .set {
	 display: flex;
	 justify-content: space-between;
   background-color: #eee;
	 margin: 10px 0;
}

 .right-container input {
	 border: 1px solid rgba(0, 0, 0, .1);
   width: 50px;
	 border-radius: 4px;
	 height: 38px;
	 line-height: 38px;
	 padding-left: 5px;
}
 .right-container input, .right-container label {
	 color: rgba(0, 0, 0, .8);
}
 .right-container header {
	 padding: 40px;
   background-color: #eee;
}
 .right-container label, .right-container input, .right-container .pets-photo {
	 width: 176px;
}
 .right-container .pets-photo {
	 align-items: center;
	 display: grid;
	 grid-template-areas: ". .";
}
 .right-container .pets-photo button {
	 border: none;
	 border-radius: 50%;
	 height: 38px;
	 margin-right: 10px;
	 outline: none;
	 width: 38px;
}
 .right-container .pets-photo button i {
	 color: rgba(0, 0, 0, .8);
	 font-size: 16px;
}
 .right-container .pets-weight .radio-container {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
}
.right-container .pets-weights .radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
 .right-container footer {
	 align-items: center;
	 /* background: #fff; */
	 display: grid;
	 padding: 5px 40px;
}
 .right-container footer button {
	 border: 1px solid rgba(0, 0, 0, .2);
	 height: 38px;
	 line-height: 38px;
	 width: 100px;
	 border-radius: 19px;
	 font-family: 'Montserrat', sans-serif;
}

 .right-container footer #next {
	 background: #807182;
	 border: 1px solid transparent;
	 color: #fff;
	 margin-left: 80%;

	 height: 120%;
	 font-weight: bold;

}
 .right-container footer #next:hover {
	 background: #2e545c;
}
 .pets-name label, .pets-breed label, .pets-birthday label, .pets-gender label, .pets-spayed-neutered label, .pets-weight label {
	 display: block;
   text-align: left;
	 margin-bottom: 5px;
   margin-top: 15px;
}
.pets-weight, .pets-weights, .company, .suggestion{
  margin-top: 10px;
}
.experience {
  text-align: left;
  margin-top: 20px;
}
.salary {
  text-align: left;
  margin-top: 5px;
}
/* .logo {
  margin-top: 20px;
  /* text-align: left;
} */

 .radio-container {
	 background: #fff;
	 border: 1px solid rgba(0, 0, 0, .1);
	 border-radius: 4px;
	 display: inline-block;
	 padding: 5px;
}
 .radio-container label {
	 background: transparent;
	 border: 1px solid transparent;
	 border-radius: 2px;
	 display: inline-block;
	 height: 26px;
	 line-height: 26px;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 transition: 0.2s all ease-in-out;
	 width: 80px;
}
 .radio-container input[type="radio"] {
	 display: none;
}
 .radio-container input[type="radio"]:checked + label {
	 background: #f05a49c0;
	 border: 1px solid rgba(0, 0, 0, .1);
}

select{
	border: 1px solid rgba(0, 0, 0, .1);
	 border-radius: 4px;
	 height: 38px;
	 line-height: 38px;
	 padding-left: 5px;
}

a {
text-decoration: none;
}
.alignleft {
	float: left;
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 1rem;
  padding: 20px;
}
.alignright {
	float: right;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  opacity: 0.8;
  padding: 20px;
}

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: relative;
  background: #978d8d;
  text-align: center;
  padding: 0 2em;
}
.et-slide {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* min-height: 120vh; */
  /* position: relative; */
  background: #eee;
  text-align: center;
  padding: 0 2em;
}
.et-slide h1 {
      font-size: 2rem;
      margin: 0;
      letter-spacing: 1rem;
  }
.et-slide  h3 {
      font-size: 1rem;
      letter-spacing: 0.3rem;
      opacity: 0.6;
  }

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
      position: fixed;
      top: 0;
  }


.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
    color:white;
    background: #bdbab8db;
    transition: all 0.5s ease;
  }



.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #809bce;
  transition: left 0.3s ease;
}
@media (min-width: 800px) {
  .et-hero-tabs h1{
        font-size: 4rem;
        margin-bottom: 0px;
    }
  }
  @media (min-width: 800px) {
    .et-hero-tabs h3{
          font-size: 2rem;
          margin-bottom: 55px;
      }
    }
@media (min-width: 800px) {
.et-slide h1 {
      font-size: 3rem;
  }
}
@media (min-width: 800px) {
.et-slide  h3 {
      font-size: 1rem;
  }
}
@media (min-width: 800px) { .et-hero-tab {
  font-size: 2rem;
}
}

.mainheading h2{
  font-size: 2em;
  color: #003559;
  text-align: center;
}

/* ---input file type logo ---*/

input[type=file] {
  font-size: 1.2rem;
  width: 300px;
}

/* ----cards---- */
.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.card p.small {
  font-size: 14px;
}

.card-container {
  justify-content: center;
  width: 100%;
}

.card {
display: flex;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(2.15);
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3 .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}

.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4 .go-corner {
  background-color: #00838d;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4:hover {
  border: 1px solid #cd3d73;
}

.card4 h3 {
  margin-top: 8px;
}

.card4:hover .go-corner {
  margin-right: -12px;
}

.card4:hover .go-arrow {
  opacity: 1;
}
