  <!-- Hero -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <body>


    <div id="textbox">
      <p class="alignleft">ALUMNI CONNECT</p>
      <p class="alignright">Student Dashboard</p>
    </div>
    <div style="clear: both;"></div>
    <section class="et-hero-tabs">

      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" routerLink="/studentdashboard">Look for Job</a>
        <a class="et-hero-tab" routerLink="/postjobs">Post Jobs</a>
        <a class="et-hero-tab" routerLink="#tab-guidance"><div style="text-decoration: underline;"><b>Guidance</b></div></a>
        <a class="et-hero-tab" routerLink="/studentdashboardprofile">Profile</a>
        <span class="et-hero-tab-slider"></span>
      </div>
    </section>

    <!-- Main -->
    <main class="et-main">


      <section class="et-slide" id="tab-guidance" style="">
        <main class="l-card">
          <section class="l-card__text">
            <p>
              This is a comment card appearing above a dotted background, and that's really cool!
            </p>
          </section>
          <section class="l-card__user">
            <div class="l-card__userImage">
              <img src="https://avatars.githubusercontent.com/u/20525486?v=4" alt="Naruto">
            </div>
            <div class="l-card__userInfo">
              <span>Naruto Uzumaki</span>
              <span>Seventh Hokage</span>
            </div>
          </section>
        </main>
        <main class="l-card">
          <section class="l-card__text">
            <p>
              This is a comment card appearing above a dotted background, and that's really cool!
            </p>
          </section>
          <section class="l-card__user">
            <div class="l-card__userImage">
              <img src="https://avatars.githubusercontent.com/u/20525486?v=4" alt="Naruto">
            </div>
            <div class="l-card__userInfo">
              <span>Naruto Uzumaki</span>
              <span>Seventh Hokage</span>
            </div>
          </section>
        </main>
        <main class="l-card">
          <section class="l-card__text">
            <p>
              This is a comment card appearing above a dotted background, and that's really cool!iudciusdbfclswgfwgiuvghbrvtefiu;chsnalkzm8yefw iojckmlxtyfwhdjkncxt78fdjcxn 4yfhdnm ,5824riuhejfknad,m cx56t4rgyhbvdjn rt4yfehjnckm xrueiofjdklcm, efygdbkzc rqkea;ls,cxytiurhjfkndvc,m nbhfgrytyruhfdkjnm,sx.z,a;lskwie8u4rhjfdsnm, a.;wpqo04utirhejkfdsnm,a.
            </p>
          </section>
          <section class="l-card__user">
            <div class="l-card__userImage">
              <img src="https://avatars.githubusercontent.com/u/20525486?v=4" alt="Naruto">
            </div>
            <div class="l-card__userInfo">
              <span>Naruto Uzumaki</span>
              <span>Seventh Hokage</span>
            </div>
          </section>
        </main>
      </section>

    </main>
    <script src="src/app/components/StudentDashboard/stickynavbar.component.js"></script>



    

  </body>
