@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  font-family: 'poppins',sans-serif;
}

html{
  font-size: 100%;
}

.linktohome{
  position: relative;
  /* text-align: left; */
  margin-top: 5vh;
  margin-left: -90vw;
  font-size: 2rem;
  }

h2{
  font-size: 1.7em;
  color: #0e7785;
  text-align: center;
}
form {
  padding: 1rem;
  width:30vw;
  height: 55vh;
  top:2rem;
  left: 95rem;
  /* position: absolute; */
  justify-content: center;
  /* background: transparent; */
  background-color: #0e7785;
  align-items: center;
  border: 10rem solid rgba(255,255,255,0.5);
  backdrop-filter: blur(0.2rem);
  border-radius: 1rem;
  justify-content: center;
  box-shadow: 0 0 1rem rgba(166, 16, 16, 0.87);
}
.inputbox{
  position: relative;
  margin-top: 3vh;
  width: 28vw;
  border-bottom: 0.1875rem solid #fff;
}
.inputbox label{
  position: absolute;
  top: 3vh;
  left: 1vw;
  transform: translateY(-50%);
  color: #383737;
  font-size: 1.2rem;
  pointer-events: none;
  transition: .5s;
}
.inputbox input {
  width: 28vw;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding:0 1rem 0 1rem;
  color: #333030;
}
input:focus ~ label,
  input:valid ~ label{
  top: -1.1rem;
  }

  .inputbox ion-icon{
    position: absolute;
    right: 1vw;
    color: #160c0c;
    font-size: 1.2rem;
    top: 2vh;
  }

  .col input{
    border: none;
    border-bottom: 0.0625rem solid #ccc;
    background: transparent;
    outline: none;
    height: 6.5vh;
    color: #555;
    font-size: 1.6rem;
  }

.col placeholder{
  position:absolute;
  top:0;
  left: 0;
  color:#adadad;
  padding: 10%;
  transition: .5s;
  font-size: 100%;
  pointer-events: none;
}

.gen {
  margin-left: 0.8rem;
}

.batch {
  margin-left: 1.25rem;
}

.faculty {
  margin-left: 35rem;
  font-size: 1.3rem;
  margin-bottom: 10rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bg-image {
  background-image: url('src/assets/images/stuReg.png');
  position: absolute;
  bottom: 0;
  left: -5;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 10%;
  left: 0;
  width: 75%;
  height: 90%;
  text-align: left;
}


.loginstu{
  padding: 1vh 1.2vw;
  color: #fff;
  text-align: center;
  margin: 7vh 0 -7vw;
  margin-left: 2.5vh;
  margin-top: 8rem;
  font-size: 1.3rem;
}
.loginstu p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
input[type="email"],
input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 100%;
  margin-bottom: 3%;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #1E90FF;
}

.home{
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 0rem;
  margin-top: 2rem;
  width: 5rem;
  height:5rem;
  padding: 1rem ;
  font-size: 2.5rem;
  background-color: #003559;
  color: white;
  border: none;
  border-radius: 50rem;
  transition: 0.3s;
}
.home:hover{
  background-color: #809bce;
  color: white;
}
.btn{
  width: 13vw;
  height: 6vh;
  border-radius: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  position: absolute;
  left: 24.5rem;
  margin: -1vh 0 0;
  margin-top: 3vh;
  transform: translateX(-50%);
  transition: 0.3s;
}
.btn:hover{
  background-color: #a22d44;
  color: #052a07;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  background-color:#0e7785;
  align-items: center;
}

@media(max-width:1370px){
  html{
      font-size: 80%;
  }
  .linktohome{
    position: relative;
    /* text-align: left; */
    margin-top: 5vh;
    margin-left: -90vw;
    font-size: 1.6rem;
    }

  h2{
    font-size: 1.7em;
    color: #0e7785;
    text-align: center;
  }
  form {
    padding: 1rem;
    width:30vw;
    height: 95vh;
    top:2rem;
    left: 80rem;
    position: absolute;
    justify-content: center;
    background: transparent;
    align-items: center;
    border: 10rem solid rgba(255,255,255,0.5);
    backdrop-filter: blur(0.2rem);
    border-radius: 1rem;
    justify-content: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
  .inputbox{
    position: relative;
    margin-top: 3vh;
    width: 28vw;
    border-bottom: 0.1875rem solid #fff;
  }
  .inputbox label{
    position: absolute;
    top: 3vh;
    left: 1vw;
    transform: translateY(-50%);
    color: #383737;
    font-size: 1.2rem;
    pointer-events: none;
    transition: .5s;
  }
  .inputbox input {
    width: 28vw;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding:0 1rem 0 1rem;
    color: #333030;
  }
  input:focus ~ label,
    input:valid ~ label{
    top: -1.1rem;
    }

    .inputbox ion-icon{
      position: absolute;
      right: 1vw;
      color: #160c0c;
      font-size: 1.2rem;
      top: 2vh;
    }

    .col input{
      border: none;
      border-bottom: 0.0625rem solid #ccc;
      background: transparent;
      outline: none;
      height: 6.5vh;
      color: #555;
      font-size: 1.6rem;
    }

  .col placeholder{
    position:absolute;
    top:0;
    left: 0;
    color:#adadad;
    padding: 10%;
    transition: .5s;
    font-size: 100%;
    pointer-events: none;
  }

  .gen {
    margin-left: 0.8rem;
  }

  .batch {
    margin-left: 1.25rem;
  }

  .faculty {
    margin-left: 28rem;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .bg-image {
    background-image: url('src/assets/images/stuReg.png');
    position: absolute;
    bottom: 0;
    left: -5;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 10%;
    left: 0;
    width: 75%;
    height: 90%;
    text-align: left;
  }


  .loginstu{
    padding: 1vh 1.2vw;
    color: #fff;
    text-align: center;
    margin: 7vh 0 -7vw;
    margin-top: 6rem;
    font-size: 1.2rem;
  }
  .loginstu p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 100%;
    margin-bottom: 3%;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #1E90FF;
  }
  .radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
  }

  .radio-container label {
    margin-right: 0%;
    font-size: 100%;
    color: #707070;
  }

  .radio-container input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    margin-right: 2%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    position: relative;
    top: -0.3em;
  }

  .radio-container input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 0.03em;
    left: 0.03em;
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    background-color: #326190;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    /* margin-right: 2px; */
    /* margin-top: 0; */
    /* margin-left: 20px; */
    margin-block-start: 0.526em;
    margin-inline-start: 0.526em;
    width: 0.625em;
    height: 0.625em;
    border-radius: 200%;
    border: 0.866em solid #141111;
    outline: none;
  }

  input[type="radio"]:focus {
    outline: 1.75em;
    border-color: #1E90FF;
  }

  .form-select {
    width: 14.2rem; /* Set the width to whatever value you prefer */
    height: 2.82rem;
    font-size: 1rem;
    margin-left: 0.66rem;
    color: #707070;
  }

  .home{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: 2rem;
    width: 5rem;
    height:5rem;
    padding: 1rem ;
    font-size: 2.5rem;
    background-color: #003559;
    color: white;
    border: none;
    border-radius: 50rem;
    transition: 0.3s;
  }
  .home:hover{
    background-color: #809bce;
    color: white;
  }
  .btn{
    width: 11vw;
    height: 6vh;
    border-radius: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    left: 20.5rem;
    margin: -1vh 0 0;
    margin-top: 2vh;
    transform: translateX(-50%);
    transition: 0.3s;
  }
  .btn:hover{
    background-color: #61a364;
    color: #052a07;
  }

  .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
