<html>
<div class="container">
<div class="bg-image">
</div>
<div class="linktohome">

  <button class="home" routerLink="/facultycrudlist"><ion-icon name="home"></ion-icon></button>
</div>
    <div class="form-box">
      <div class="form-value">

      <form class="border p-3" [formGroup]="angForm" (ngSubmit)="postdata(angForm)">


  <div class="row g-0">
    <div class="col text-center p-2 mb-3">
      <span class="fs-3"><h2>Add Faculty</h2></span>
    </div>
  </div>
  <div class="col mb-3">

    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="mail-outline"></ion-icon>
      <input type="email" required class="form-control input-field" id="email" formControlName="faculty_email">
      <label for="">Email</label>
    </div>
       <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
        Email is required
      </div>
      <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
        Email is Invalid
      </div> 
    </div>
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="password" required class="form-control input-field" id="password" formControlName="faculty_password">
      <label for="">Password</label>
      </div>
      <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
        Password is required
      </div>
      <div class="form-text text-danger" *ngIf="Password.errors?.['pattern'] && (Password.dirty || Password.touched)">
        Password should have Special characters, Lower & Upper case, numbers and minimum 8 characters
      </div> 
    </div>
    <div class="d-grid">
    <div class="row">
    <button type="submit" class="btn btn-primary">Add Faculty</button>
  </div>
  </div>

  </div>

</form>
</div>
</div>
</div>

</html>
