
<div class="popup-container">
  <form class="border p-3" [formGroup]="angForm" (ngSubmit)="postdata(angForm)">
  <div class="popup-content">
    <div class="popup-header">

      <h1 class="popup-heading">Write some tips & tricks up your sleeve</h1>
      <button class="close-button" (click)="closePopup()">&times;</button>

    </div>

    <div class="popup-body">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" cols="80" placeholder="Start writing here..."></textarea>
    </div>
    <br><br>
    <div class="popup-footer">
      <button class="submit-button">Post Now</button>
    </div>
  </div>
</form>
</div>
