.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  /* padding: 100px 50px; */
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
}
/* .popup-header {

  position: relative;
  align-items: center;
} */

.close-button {
  position: absolute;
  top: 180px;
  right: 520px;
  background: none;
  border: none;
  color: rgb(96, 95, 95);
  font-size: 40px;
  cursor: pointer;
}

.popup-heading {
  position: absolute;
  color: rgb(29, 23, 23);
  top: 200px;
  left: 540px;
  padding-right: 20px; /* Add padding to accommodate the close button */
  font-size: 24px;
}
.popup-body {
  margin-top: 40px;
  /* font-size: 14px; */
}

.popup-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  padding: 12px 20px;
  background-color:#005691;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  bottom: 5px;
  border-radius: 15px;
  cursor: pointer;
}

#exampleFormControlTextarea1{
  font-size: 14px;
}
