<div class="card-container">
<div class="card">
  <a class="card1" href="#">
   <p>This is heading</p>
   <p class="small">Card description with lots of great facts and interesting details.</p>
   <div class="go-corner" href="#">
     <div class="go-arrow">
       →
     </div>
   </div>
 </a>
  <a class="card1" href="#">
   <p>This is heading</p>
   <p class="small">Card description with lots of great facts and interesting details.</p>
   <div class="go-corner" href="#">
     <div class="go-arrow">
       →
     </div>
   </div>
 </a>
  <a class="card1" href="#">
   <p>This is heading</p>
   <p class="small">Card description with lots of great facts and interesting details.</p>
   <div class="go-corner" href="#">
     <div class="go-arrow">
       →
     </div>
   </div>
 </a>
</div>
</div>
