<html>
<div class="container">
<div class="bg-image">
</div>
<div class="linktohome">

  <button class="home" routerLink="/facultycrudlist"><ion-icon name="arrow-back-circle-outline"></ion-icon></button>
</div>
    <div class="form-box">
      <div class="form-value">

      <form class="border p-3" [formGroup]="angForm" (ngSubmit)="postdata(angForm)">


  <div class="row g-0">
    <div class="col text-center p-2 mb-3">
      <span class="fs-3"><h2>Edit Faculty Details</h2></span>
    </div>
  </div>
  <div class="col mb-3">
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="person-outline"></ion-icon>
      <input type="text" required class="form-control input-field" id="name" formControlName="faculty_name">
      <label for="">Name</label>
    </div>
     <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched || Name.dirty)">
      Name is required
    </div>
    <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] && (Name.touched || Name.dirty)">
      Name is too short
    </div>
    <div class="form-text text-danger" *ngIf="Name.errors?.['pattern'] && (Name.touched || Name.dirty)">
      Name should start with alphabet
    </div>
    </div>
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="mail-outline"></ion-icon>
      <input type="email" required class="form-control input-field" id="email" formControlName="faculty_email">
      <label for="">Email</label>
    </div>
       <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
        Email is required
      </div>
      <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
        Email is Invalid
      </div>
    </div>
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="text" required class="form-control input-field" id="dept" formControlName="faculty_dept">
      <label for="">Department</label>
      </div>
      <div class="form-text text-danger" *ngIf="Dept.errors?.['required'] && (Dept.dirty || Dept.touched)">
        Department is required
      </div>
    </div>
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="text" required class="form-control input-field" id="qualification" formControlName="faculty_qualification">
      <label for="">Qualification</label>
      </div>
      <div class="form-text text-danger" *ngIf="Qualification.errors?.['required'] && (Qualification.dirty || Qualification.touched)">
         Qualification is required
      </div>
    </div>
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="text" required class="form-control input-field" id="designation" formControlName="faculty_designation">
      <label for="">Designation</label>
      </div>
      <div class="form-text text-danger" *ngIf="Designation.errors?.['required'] && (Designation.dirty || Designation.touched)">
        Designation is required
      </div>
    </div>
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="password" required class="form-control input-field" id="password" formControlName="faculty_password">
      <label for="">Password</label>
      </div>
      <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
        Password is required
      </div>
      <div class="form-text text-danger" *ngIf="Password.errors?.['pattern'] && (Password.dirty || Password.touched)">
        Password should have Special characters, Lower & Upper case, numbers and minimum 8 characters
      </div>
    </div>
    <div class="col mb-4">
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="text" required class="form-control input-field" id="aoi" formControlName="faculty_aoi">
      <label for="">Area of Interest</label>
      </div>
      <div class="form-text text-danger" *ngIf="AOI.errors?.['required'] && (AOI.dirty || AOI.touched)">
        Area Of Interest is required
      </div>
    </div>

    <div class="d-grid">
    <div class="row">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
  </div>

  </div>

</form>
</div>
</div>
</div>

</html>
