  <!-- Hero -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <body>


    <div id="textbox">
      <p class="alignleft">ALUMNI CONNECT</p>
      <p class="alignright">Student Dashboard</p>
    </div>
    <div style="clear: both;"></div>
    <section class="et-hero-tabs">

      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" routerLink="/studentdashboard">Look for Job</a>
        <a class="et-hero-tab" routerLink="#tab-postjobs"><div style="text-decoration: underline;"><b>Post Jobs</b></div></a>
        <a class="et-hero-tab" routerLink="/guidance">Guidance</a>
        <a class="et-hero-tab" routerLink="/studentdashboardprofile">Profile</a>
        <span class="et-hero-tab-slider"></span>
      </div>
    </section>

    <!-- Main -->
    <main class="et-main">

      <section class="et-slide" id="tab-postjobs">
        <div class="form-box">
          <div class="form-value">

          <form class="border p-3" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
            <div class="mainform">
            <div class="signup-container">
              <div class="left-container">

                <div class="puppy">
                  <img src="assets/images/job.png"/>
                  <h1>
                    <!-- <img class="logo" src="assets/images/grad_new.png"/> -->

                    Alumni <i class="fa fa-graduation-cap" style="font-size:38px;"></i> Connect
                  </h1>
                </div>

              </div>
              <div class="right-container">
                <header>
                  <h1>Celebrate endings - for they precede new beginnings. </h1><br>
                  <div class="set">
                    <div class="pets-name">
                      <label for="pets-name">Company Name </label>
                      <input id="pets-name" placeholder="Company name" type="text" formControlName="comapny">
                    </div>
                    <div class="pets-breed">
                      <label for="pets-breed">Designation</label>
                      <input id="pets-breed" placeholder="Designation" type="text" formControlName="designation">
                    </div>
                  </div>
                  <div class="set">
                    <div class="pets-gender">
                      <label for="pet-gender-female">Job type</label>
                      <div class="radio-container">
                        <input id="pet-gender-female" name="pet-gender" type="radio" value="female" formControlName="gender">
                        <label for="pet-gender-female">Remote</label>
                        <input id="pet-gender-male" name="pet-gender" type="radio" value="male" formControlName="gender">
                        <label for="pet-gender-male">On-Site</label>
                      </div>
                    </div>
                    <div class="pets-name">
                      <label for="pets-name">Location </label>
                      <input id="pets-name" placeholder="Location" type="text" formControlName="location">
                    </div>
                  </div>
                  <div class="pets-weight">
                    <label for="pet-weight-0-25">Experience</label>
                    <div class="radio-container">
                      <input id="pet-weight-0-25" name="pet-weight" type="radio" value="0-25" formControlName="experience">
                      <label for="pet-weight-0-25">0-2yrs</label>
                      <input id="pet-weight-25-50" name="pet-weight" type="radio" value="25-50" formControlName="experience">
                      <label for="pet-weight-25-50">3-5yrs</label>
                      <input id="pet-weight-50-100" name="pet-weight" type="radio" value="50-100" formControlName="experience">
                      <label for="pet-weight-50-100">5-7yrs</label>
                      <input id="pet-weight-100-plus" name="pet-weight" type="radio" value="100+" formControlName="experience">
                      <label for="pet-weight-100-plus">8+ yrs</label>
                    </div>
                  </div>
                  <div class="set">

                    <div class="pets-name">
                      <label for="dog-names">Salary</label>
                      <select name="dog-names" id="dog-names">
                        <option value="5-8 Lpa" formControlName="salary">5-8 Lpa</option>
                        <option value="9-12 Lpa" formControlName="salary">9-12 Lpa</option>
                        <option value="13-15 Lpa" formControlName="salary">13-15 Lpa</option>
                        <option value="15+ Lpa" formControlName="salary">15+ Lpa</option>
                      </select>
                    </div>
                  </div>
                  <div class="pets-name">
                    <label for="exampleFormControlTextarea1">Your Suggestions if any: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="suggestions"></textarea>
                  </div>

                </header>
                <footer>
                  <div class="set">
                    <button id="next">Submit</button>
                  </div>
                </footer>
              </div>
            </div>
          </div>

    </form>
    <div class="popup-background" *ngIf="showPopupFlag">
      <div class="popup">
        <h2>Job posting submitted</h2>

        <button class="popupbtn" (click)="hidePopup()">OK</button>
      </div>
    </div>

    </div>
    </div>

      </section>

    </main>
    <script src="src/app/components/StudentDashboard/stickynavbar.component.js"></script>

  </body>
