table{
    margin-top: 17vh;
    margin-left: 15vw;
    max-width: fit-content;
    min-width: 80vw;
}

th{
    background-color: #005691;
    color: white;
}

body{
    margin-top: 50vh;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 600px;
    margin: 0 auto;
}
table tr td:last-child{
    width: 120px;
}
button{
    background-color: #003559;
    border-radius: 50%;
    padding: 0.5vh 0.5vw;
    margin: 0.3vh;
    display: inline;
}
span{
    color: white;
}
.float{
	position:fixed;
	width:4vw;
	height:8vh;
	bottom:2vh;
	right:2vw;
	background-color:#005691;
	color:#FFF;
	border-radius:50px;
	text-align:center;

}

.my-float{
	margin-top:22px;
}