<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <div id="textbox">
        <p class="alignleft" *ngIf='logoutbtn' routerLink="" routerLinkActive="active">ALUMNI CONNECT</p>
        <p class="alignright"><button type="button" *ngIf='logoutbtn' class="btn btn-block" (click)="logout()" style="font-size: 1.5rem;"><i class="icon ion-power"></i> 
          Hey {{logged_in_username}}, logout
        </button></p>
      </div>

  <button class="home" routerLink="/studentdashboardprofile"><ion-icon name="arrow-back-circle-outline"></ion-icon></button>
    <div class="wrapper">
        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" id="mini-profile">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                        <img src="{{profile_pic_url}}" onerror="if (this.src != 'error.jpg') this.src = 'https://bootdey.com/img/Content/avatar/avatar6.png';" 
                                        alt="add alternative text here"class="rounded-circle p-1 bg-primary" width="110">
                                        <br><h6 class="mb-0">Edit Profile picture here:</h6><br>
                                        <input class="form-control" type="file"  name="profile_pic" id="formFile" (change)="uploadfile($event)">
                                    <div class="mt-3">
                                        <!-- <h4><input class="student_name_profile" type="text" value="{{student_name }}" #studentname></h4>
                                        <h6><input class="student_name_profile" type="text" value="{{student_email }}" disabled></h6> -->
                                                                                   
                                    </div>
                                    <!-- <input type="submit" id="mini-profile-save" class="btn btn-primary px-4" value="Save Changes" onsubmit="mini_profile_save(studentname,studentdescriptiom)">  -->
                                    <button id="mini-profile-save" class="btn btn-primary px-4" (click)="mini_profile_save()"> Save Changes</button>
                                </div>
                                <hr class="my-4">
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <form action="" [formGroup]="angForm" (ngSubmit)="postdata(angForm)">  

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" required class="form-control input-field" id="name" formControlName="sp_name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" required class="form-control input-field" id="email" formControlName="sp_email" [readonly]="true" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col-sm-3">
                                      <h6 class="mb-0">DOB</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                      <input type="text" required class="form-control input-field" id="dob" formControlName="sp_dob" >
                                  </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Designation</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" required class="form-control input-field" id="designation" formControlName="sp_designation" >
                                </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col-sm-3">
                                  <h6 class="mb-0">Company</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                  <input type="text" required class="form-control input-field" id="company" formControlName="sp_company" >
                              </div>
                          </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">LinkedIn</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" required class="form-control input-field" id="linked" formControlName="sp_linkedin" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mobile</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" required class="form-control input-field" id="mobile" formControlName="sp_mobile" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" required class="form-control input-field" id="address" formControlName="sp_address" >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col-sm-3">
                                      <h6 class="mb-0">About Myself</h6>
                                  </div>
                                  <div class="col-sm-9 text-secondary">
                                      <textarea rows="4" cols="50" required class="form-control input-field" id="about" formControlName="sp_about">
                                        </textarea>
                                  </div>
                              </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9 text-secondary">
                                        <div class="set">
                                        <button id="next">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>

                    </div>

                </div>
              
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>