  <!-- Hero -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <body>


    <div id="textbox">
      <p class="alignleft">ALUMNI CONNECT</p>
      <p class="alignright">Student Dashboard</p>
    </div>
    <div style="clear: both;"></div>
    <section class="et-hero-tabs">

      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" routerLink="#tab-lookforjob"><div style="text-decoration: underline;"><b>Look for Job</b></div></a>
        <a class="et-hero-tab" routerLink="/postjobs">Post Jobs</a>
        <a class="et-hero-tab" routerLink="/guidance">Guidance</a>
        <a class="et-hero-tab" routerLink="/studentdashboardprofile">Profile</a>
        <span class="et-hero-tab-slider"></span>
      </div>
    </section>

    <!-- Main -->
    <main class="et-main">

      <section class="et-slide" id="tab-lookforjob">
        <div class="card-deck" id="first_deck">
          <div class="card" *ngFor="let company of companydetails; let i = index;">
            <div class="company_logo"><img class="card-img-top" src={{company.company_logo_image_name}} alt="Company logo"></div>
            <div class="card-body">
              <div class="title-category">
                <span class="company_name_display">
                  <h5 class="card-title">{{company.c_name}}</h5>
                </span>
              </div>
              <ul class="list-group">
                <li class="list-group-item list-group-item-success"><i class="icon ion-briefcase"></i>   {{ company.c_designation}}</li>
                <li class="list-group-item list-group-item-success"><i class="icon ion-briefcase"></i>   {{ company.c_jobtype}}</li>
                <li class="list-group-item list-group-item-success"><i class="icon ion-location"></i>   {{ company.c_location}}</li>
                <li class="list-group-item list-group-item-success"><i class="icon icon ion-star"></i> {{ company.c_experience}}</li>
                <li class="list-group-item list-group-item-success"><i class="icon ion-person"></i>  {{ company.c_suggestions}}</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-inr"></i>   {{company.c_salary}}</li>
              </ul>
    
              <!-- <ul class="list-group">
                <li class="list-group-item list-group-item-danger"><i class="icon ion-clock"></i> <pre> {{ company.last_date_to_apply }} {{ company.deadline_time }}</pre></li>
                </ul> -->
              
            </div>
            <div class="card-footer">
              <button type="button" class="btn" id="left-panel-link" >Register</button>
              <!-- <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal1" id="right-panel-link" routerLink="/viewcompanydetails/{{company.company_id}}">
      Learn More
    </button> -->
            </div>
          </div>
        </div>
         <div class="sep"></div>
      </section>
          </main>
    <script src="src/app/components/StudentDashboard/stickynavbar.component.js"></script>

  </body>
