@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Figtree:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
.company_logo{
  display:flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 30vw;
  min-height: 30vh;
  max-width: 30vw;
  max-height: 30vh;
  
}

.company_logo img{
  min-width: 15vw;
  min-height: 15vh;
  max-width: 25vw;
  max-height: 25vh;
}

.compnay_name_display{
display: inline-block;
}
.compnay_category_display{
display: inline-block;
position: absolute;
right: 2.5vw;
}
a {
text-decoration: none;
}
.alignleft {
	float: left;
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 1rem;
  padding: 20px;
}
.alignright {
	float: right;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  opacity: 0.8;
  padding: 20px;
}

/* ******************* line divider  **********************  */

.divider {                /* minor cosmetics */
  display: table; 
  font-size: 24px; 
  text-align: center; 
  width: 75%;             /* divider width */
  margin: 5px auto;          /* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;              /* adjust vertical align */
  -moz-background-size: 100% 2px;   /* line width */
  background-size: 100% 2px;      /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {       /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
  color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {        /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}


.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: relative;
  background: #978d8d;
  text-align: center;
  padding: 0 2em;
}
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}
.et-slide h1 {
      font-size: 2rem;
      margin: 0;
      letter-spacing: 1rem;
  }
.et-slide  h3 {
      font-size: 1rem;
      letter-spacing: 0.3rem;
      opacity: 0.6;
  }

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
      position: fixed;
      top: 0;
  }


.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
    color:white;
    background: #bdbab8db;
    transition: all 0.5s ease;
  }

  .sdimg {
    height: 80%;
    width: 104%;
    margin-top: 0;
    opacity: 0.8;
  }

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #809bce;
  transition: left 0.3s ease;
}
@media (min-width: 800px) {
  .et-hero-tabs h1{
        font-size: 4rem;
        margin-bottom: 0px;
    }
  }
  @media (min-width: 800px) {
    .et-hero-tabs h3{
          font-size: 2rem;
          margin-bottom: 55px;
      }
    }
@media (min-width: 800px) {
.et-slide h1 {
      font-size: 3rem;
  }
}
@media (min-width: 800px) {
.et-slide  h3 {
      font-size: 1rem;
  }
}
@media (min-width: 800px) { .et-hero-tab {
  font-size: 2rem;
}
}

.mainheading h2{
  font-size: 2em;
  color: #003559;
  text-align: center;
}
form {
  padding: 10;
  width: 90%;
  margin-right: auto;
  margin-left: 5%;
  /* margin-top: 10%; */
  margin-bottom: auto;
  position: absolute;
  justify-content: center;
  background: transparent;
  align-items: center;
  /* border: 2px solid rgba(255,255,255,0.5); */
  top: 2%;
  left: 0;
  padding: 20px;
  /* max-width: 450px; */
  backdrop-filter: blur(5px);
  border-radius: 5px;
  justify-content: center;
  background-color: white;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.col input{
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
  height: 40px;
  color: #555;
  font-size: 15px;
}

::placeholder {
  color: #707070;
}

label {
  margin-left: -3.5%;
  position: absolute;
}

.bg-image {
  background-image: url('src/assets/images/123.jpg');
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 70%;
  min-height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 5px;
  right: 0px;
  width: 300px;
  height: 600px;
  text-align: left;
}


.loginstu{

  margin: 20px 0 10px;
}

input[type="designation"],
input[type="company"],
input[type="experience"],
input[type="salary"],
input[type="location"],
input[type="musthaves"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

input[type="designation"]:focus,
input[type="company"]:focus,
input[type="exprerience"]:focus,
input[type="salary"]:focus,
input[type="location"]:focus,
input[type="musthaves"]:focus {
  outline: none;
  border-color: #1E90FF;
}

#sub{
  width: 25%;
  height: 40px;
  /* border-radius: 40px; */
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  position: absolute;
  left: 50%;
  margin: -5px 0 -25px;
  transform: translateX(-50%);
  transition: 0.3s;
  color: white;
  background-color: #003559;
}

.popupbtn {
  width: 30%;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
  position:center;
  left: 30%;
  margin: 10px 0 -35px;
  margin-bottom: 5%;
  color: #050c13;
  background-color: #939597;
}

.popup-background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  height: 20%;
}

.popup h2 {
  font-size: 1.6em;
}

.dropdown {
  margin-left: -5.5%;
}

.form-select {
  width: 98%;
  height: 30px;
  font-size: 15px;
  margin-left: 10px;
  color: #707070;
  margin-bottom: 2%;
  background: #eee;
}

/* css for profile section */

body{
  color: #6F8BA4;
  margin-top:20px;
}
.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #20247b;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

.about-section .counter {
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: #20247b;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}

/* edit profile icon */
.editprofile{
  font-size: 40px;
  margin-left: 30em;
  margin-top: -2em;
}
.editprofile i{
  color:	#404040;
}


/* look jobs bg */

.lookjob{
  /* background-color: red; */
  height: 70vh;
}



/*  **********************************************************************************************************************************   */
/* cards  */

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 2%;
  padding-left: 2%;
  aspect-ratio: 16 / 10;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cards {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree";
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: #e4e8edb4;
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 34px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}