  <!-- Hero -->

  <body>
    <section class="et-hero-tabs">
      <h1>ALUMNI CONNECT</h1>
      <h3>Student Dashboard</h3>
      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-lookforjob">Look for Job</a>
        <a class="et-hero-tab" href="#tab-postjobs">Post Jobs</a>
        <a class="et-hero-tab" href="#tab-guidance">Guidance</a>
        <a class="et-hero-tab" href="#tab-trends">Trends</a>
        <a class="et-hero-tab" href="#tab-profile">Profile</a>
        <span class="et-hero-tab-slider"></span>
      </div>
    </section>

    <!-- Main -->
    <main class="et-main">
      <section class="et-slide">
        <img src="assets/images/studentdashboard.jpeg" class="sdimg">
      </section>
      <section class="et-slide" id="tab-lookforjob">
        <h1>Look for Job</h1>
        <h3>something about Look for Job</h3>
      </section>
      <section class="et-slide" id="tab-postjobs">
        <div class="form-box">
          <div class="form-value">

          <form class="border p-3" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">


      <div class="row g-1">
        <div class="col text-center p-2 mb-3">
          <span class="fs-3"><div class="mainheading"><h2>Post a Job</h2></div></span>
        </div>
      </div>
      <div class="col mb-3">
        <div class="col mb-4">
          <div class="inputbox">
            <ion-icon name="pencil-outline"></ion-icon>
          <input type="text" required class="form-control input-field" id="designation" formControlName="designation">
          <label for="">Designation</label>
        </div>
          <div class="form-text text-danger" *ngIf="Designation.errors?.['required'] && (Designation.dirty || Designation.touched)">
            Required field
          </div>
        </div>
        <div class="col mb-4">
          <div class="inputbox">
            <ion-icon name="briefcase-outline"></ion-icon>
          <input type="text" required class="form-control input-field" id="company" formControlName="company">
          <label for="">Company Name</label>
        </div>
          <div class="form-text text-danger" *ngIf="Company.errors?.['required'] && (Company.dirty || Company.touched)">
            Required field
          </div>
        </div>
        <div class="col ps-3">
          <div class="dropdown">
          <div class="row">
            <div class="col-2">
              <div class="m-1"><label for="year-dropdown">Experience</label></div>
            </div>
            <div class="col-10">
              <select class="form-select" formControlName="experience" id="type-dropdown">
                <option value="" disabled selected>Select Experience</option>
                <option *ngFor="let experience of experiences" [value]="experience">{{experience}}</option>
              </select>
              <ion-icon name="hourglass-outline"></ion-icon>
            </div>
          </div>
        </div>
          <!-- <div class="form-text text-danger" *ngIf="Experience.errors?.['required']">
            Select Type
          </div> -->
      </div>
        <div class="col ps-3">
          <div class="dropdown">
          <div class="row">
            <div class="col-2">
              <div class="m-1"><label for="type-dropdown">Type of job</label></div>
            </div>
            <div class="col-10">
              <select class="form-select" formControlName="jobtype" id="type-dropdown">
                <option value="" disabled selected>Select Type</option>
                <option *ngFor="let jobtype of jobtypes" [value]="jobtype">{{jobtype}}</option>
              </select>
              <ion-icon name="list-circle-outline"></ion-icon>
            </div>
          </div>
        </div>
          <!-- <div class="form-text text-danger" *ngIf="Jobtype.errors?.['required']">
            Select Type
          </div> -->
      </div>
        <div class="col mb-4">
          <div class="inputbox">
            <ion-icon name="cash-outline"></ion-icon>
          <input type="text" required class="form-control input-field" id="salary" formControlName="salary">
          <label for="">Salary</label>
        </div>
          <div class="form-text text-danger" *ngIf="Salary.errors?.['required'] && (Salary.dirty || Salary.touched)">
            Required field
          </div>
        </div>
        <div class="col mb-4">
          <div class="inputbox">
            <ion-icon name="location-outline"></ion-icon>
          <input type="text" required class="form-control input-field" id="location" formControlName="location">
          <label for="">Location</label>
        </div>
          <div class="form-text text-danger" *ngIf="Location.errors?.['required'] && (Location.dirty || Location.touched)">
            Required field
          </div>
        </div>
        <div class="col mb-4">
          <div class="inputbox">
            <ion-icon name="checkmark-done-outline"></ion-icon>
          <input type="text" required class="form-control input-field" id="musthaves" formControlName="musthaves">
          <label for="">Must Haves</label>
        </div>
          <div class="form-text text-danger" *ngIf="Musthaves.errors?.['required'] && (Musthaves.dirty || Musthaves.touched)">
            Required field
          </div>
        </div>

        <div class="d-grid">
        <div class="row">
        <button type="submit" (click)="showPopup()" [disabled]="loginForm.invalid" class="sub">Submit</button>
      </div>
      </div>

        <div class="row">
            <div class="d-grid">
              <div class="loginstu">

            </div>

          </div>
        </div>


      </div>

    </form>
    <div class="popup-background" *ngIf="showPopupFlag">
      <div class="popup">
        <h2>Job posting submitted</h2>

        <button class="popupbtn" (click)="hidePopup()">OK</button>
      </div>
    </div>

    </div>
    </div>

      </section>
      <section class="et-slide" id="tab-guidance">
        <h1>Guidance</h1>
        <h3>something about Guidance</h3>
      </section>
      <section class="et-slide" id="tab-trends">
        <h1>Trends</h1>
        <h3>something about Trends</h3>
      </section>
      <section class="et-slide" id="tab-profile">
        <h1>Profile</h1>
        <h3>something about Profile</h3>
      </section>
    </main>
    <script src="src/app/components/StudentDashboard/stickynavbar.component.js"></script>

  </body>
