  <!-- Hero -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <body>

    <nav class="nav">
      <!-- <a  routerLink="home" routerLinkActive="active"><img src="./assets/images/spitlogo.png"></a> -->
        <ul>
          <li><a *ngIf='logoutbtn' routerLink="" routerLinkActive="active">Alumni Connect</a></li>
          <!-- <li><a *ngIf='loginbtn' routerLink="login" routerLinkActive="active">Login</a></li> -->
          <li class="nav-item"><button type="button" *ngIf='logoutbtn' class="btn btn-block" (click)="logout()"><i class="icon ion-power"></i>  {{logged_in_username}}, logout</button></li>
        </ul>
      </nav>
    <!-- <div id="textbox">
      <p class="alignleft">ALUMNI CONNECT</p>
      <p class="alignright">Student Dashboard</p>
    </div> -->
    <div style="clear: both;"></div>
    <section class="et-hero-tabs">

      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" routerLink="/studentdashboard">Look for Job</a>
        <a class="et-hero-tab" routerLink="/postjobs">Post Jobs</a>
        <a class="et-hero-tab" routerLink="/guidance">Guidance</a>
        <a class="et-hero-tab" routerLink="#about"><div style="text-decoration: underline;"><b>Profile</b></div></a>
        <span class="et-hero-tab-slider"></span>
      </div>
    </section>

    <!-- Main -->
    <main class="et-main">


      <section class="et-slide section about-section gray-bg" id="about">
        <div class="container">
          <div class = "editprofile">
            <i routerLink="/studentprofile" class='fa fa-edit'></i>
          </div>
          <div class="row align-items-center flex-row-reverse">
              <div class="col-lg-6">
                  <div class="about-text go-to">
                      <h3 class="dark-color">Name</h3>
                      <h6 class="theme-color lead"> UX/UI designer</h6>
                      <h5 class="dark-color lead"><b>XYZ Company</b></h5>
                      <p>I <mark>design and develop</mark> services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through the bold interface and meaningful interactions.</p>
                      <div class="row about-list">
                          <div class="col-md-6">
                              <div class="media">
                                  <label>DOB</label>
                                  <p>06/08/1999</p>
                              </div>

                              <div class="media">
                                  <label>Residence</label>
                                  <p>Canada</p>
                              </div>
                              <div class="media">
                                  <label>Address</label>
                                  <p>Mumbai, India</p>
                              </div>

                          </div>
                          <div class="col-md-6">
                              <div class="media">
                                  <label>E-mail</label>
                                  <p>info@domain.com</p>
                              </div>
                              <!-- <div class="media">
                                  <label>Phone</label>
                                  <p>820-885-3321</p>
                              </div> -->
                              <div class="media">
                                  <label>LinkedIn</label>
                                  <p><a href="https://www.linkedin.com/in/debaroti-biswas-008a06221/">LinkedIn</a></p>
                              </div>
                              <div class="media">
                                <label>Phone</label>
                                <p>8697342543</p>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="about-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                  </div>
              </div>
          </div>

      </div>
      </section>

    </main>
    <script src="src/app/components/StudentDashboard/stickynavbar.component.js"></script>

  </body>
