<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<header>
  <div class="newheading">
      <h1 style="margin-left: 60px;">
        Alumni Connect<span class="color">.</span>
      </h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li class="dropdown">
            <a href="#">Login</a>
            <div class="dropdown-content">
              <a routerLink="/studentlogin">Student</a>
              <a routerLink="/facultylogin">Faculty</a>
            </div>
          </li>
          <li><a href="#contactus">Contact Us</a></li>
        </ul>
      </nav>
  </div>
  
</header>
<span class="horizontal-line"></span>

<div class="clear"></div>

<div class="row">
  <div class="video-container">
    <video width="900" height="800" autoplay src="assets/images/AlumniConnNew2.mp4" loop muted></video>
    <!-- <button id="regNow" class="end-button">Click Me</button> -->
  </div>
  
  <div class="notices">
    <h2 style="padding-top: 10px; font-size: 1.5rem;">Notices</h2>
    <div class="content">
      <ul>
        <li>awsedrftvgybhnjmk,lvnjgrjihni </li>
        <li>ugt8rugj85riufjcvkmx, </li>
        <li>rieofkdsl,;x.0-owplas;.z/</li>
      </ul> 
    </div>
  </div>
</div>

<br>

<div id="features" >
  <div class="wrapper">
    <h3>Our Values</h3>
      <ul style="list-style-type:none">
          <li class="feature-1">
              <h4>Integrity</h4>
              <p>We value integrity, honesty, and strong moral principles. As an educational institution, our goal is to uplift students and help them achieve great heights. We take pride in maintaining consistent moral and ethical standards.</p>
          </li>
          <li class="feature-2">
              <h4>Excellance</h4>
              <p>We currently hold a position in the 101 to 150 bracket of the NIRF. This success is attributed to the dedicated 
                efforts of the management and faculty members, who continuously strive for improvement and progress.</p>
          </li>
          <li class="feature-3">
              <h4>Social Sensitivity</h4>
              <p>Our new curriculum focuses on relevant education that can make a difference. The institution promotes values of social 
                service through participation in social welfare schemes and collaborations with NGOs.</p>
          </li>
          <li class="feature-4">
            <h4>Globalization</h4>
            <p>believes in the concept of Vasudev Kutumbakam, considering the whole universe as our family. The institution continuously 
              aims to enhance the quality of education without any discrimination in line with global trends and standards.</p>
        </li>
          <div class="clear"></div>
      </ul>
  </div>
</div>

<br><br><br>

<!-- images tile -->

<div class="images">
  <h3> Gallery </h3> <br><br>
  <div class="scene">
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g1.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g2.jpg" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g3.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g4.png" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g5.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g6.png" />
      </div>
    </div>
  </div>

  <div class="scene">
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g7.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g8.jpg" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g9.jpg" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g10.jpg" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g12.jpg" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g11.jpg" />
      </div>
    </div>
  </div>

</div>

<div id="primary-content">
  <div class="wrapper">
      <article>
          <h3>Looking for a job?</h3>
          <p style="font-size: 16px; line-height: 25px;">Looking for a job is like trying to find a needle in a haystack, except the needle is a job offer and the haystack is made of résumés. It's a journey filled with twists and turns, rejection and triumphs, and enough interviews to make your head spin. But with the right mindset, strategy, and a little bit of luck, you'll be able to navigate the job market and land your dream gig. So put on your detective hat, polish your résumé, and get ready for the adventure of a lifetime.</p>
      </article>
  </div>
</div>

<div id="secondary-content" style="margin-top: -60px;">
  

  <div class="wrapper">
      
    <div class="overlay">
          <tr>
            <div class="newjob">
            <td *ngFor="let company of companydetails.slice(0, 2); let i = index;" class="column-spacing">
              <div class="jobcard">
                <img src="{{company.company_logo_image_name}}" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title">{{company.c_name}}</h5>
                  <p class="card-text">
                    
                      Job Role: &nbsp;&nbsp;&nbsp; {{ company.c_designation}}
                      <br>
                      Location: &nbsp;&nbsp;&nbsp; {{ company.c_location}}
                      
                  </p>
                  <a routerLink="/studentlogin" class="applyNow">Apply Now</a>
                </div>
              </div>
            </td>
          </div>
          <td>
            <!-- <img id="lookjob" src="assets/images/applyJob.jpg" style="width: 400px; margin-left: 200px;">
            <a href="#" class="more-link" style="margin-left: 100px;" >View more</a> -->
            <div style="position: relative;">
              <img src="assets/images/applyJob.jpg" alt="Image" style="width: 80%; height: 75%;"><br>
              <a href="#" class="read-more" style="border: 2px solid dark gray; font-size: 24px; ">
                View more <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <!-- <td><a href="#" class="more-link" >View more</a></td> -->
          </tr>
          
    </div>
      

      <div class="clear"></div>

      <!-- ******************************* -->
      
  </div>
</div>

<div id="cta">
  <div class="wrapper">
      <h3>Post a job?</h3>
        <p style="font-size: 20px;">Ready to unleash your job opportunity into the wild? Post it here and let the job-seekers come flocking!</p>
      <a routerLink ="/studentlogin" class="button-2">
        Lets Go!!
        <!-- <img src="assets/images/joblink.gif" style="width: 60%; height: 70%; float:right;" alt="Computer man" > -->
    </a>
  </div>
</div>

<div style="background-color: rgba(239, 236, 236, 0.684); width: 110%; height: 550px; padding-top: 3%;">
  <a id="contactus">
    <div style="width: 40%; height: 550px; float:left;">
        <div class="contact">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact Us</h3>
            <p>Got questions, suggestions, or just want to say hello? Contact us and let's connect!</p>
            <form action="contactus.php" method="POST">
              <input type="text" placeholder="Name" required name="Name">
              <input type="email" placeholder="Email" required name="Email">
              <input type="text" placeholder="Subject" required name="Subject">
              <textarea name="body" placeholder="Type your message here..." rows="3" style="padding-left: 5px;" ></textarea><br>
              <button class="w3-button w3-section" type="submit" name="submit" value="submit">
                SEND MESSAGE <i class="fa fa-paper-plane"></i> 
              </button>
            </form>
          </div>

    </div> 

    <div style=" width:60%; height: 550px; float:left;">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="80%" height="80%" id="gmap_canvas" src="https://maps.google.com/maps?q=sardar patel institute of technology&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <br>
            </div>
        </div>
    </div>
  </a>
</div>


<footer style="background-color: rgb(48, 47, 47);">
  <div class="wrapper">
      <div id="footer-info" style="color: antiquewhite;" >
          <p >Copyright 2023 Sardar Patel Institute Of Technology. All rights reserved.</p>
          <!-- <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p> -->
      </div>
      <div class="clear"></div>
  </div>
</footer>
