<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <div class="wrapper">
      <h1>Alumni Connect<span class="color">.</span></h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li class="dropdown">
            <a href="#">Login</a>
            <div class="dropdown-content">
              <a routerLink="/studentlogin">Student</a>
              <a routerLink="/facultylogin">Faculty</a>
            </div>
          </li>
          <li><a href="#contactus">Contact Us</a></li>
        </ul>
      </nav>
  </div>

</header>

<div id="hero-image">
  <div class="wrapper">
    <div class="vid">
        <video width="1000" height="800" autoplay muted>
            <source src="assets/images/alumniConn.mp4" type="video/mp4">
        </video>
      <a href="#" class="button-1" hidden>Get Started</a>
    </div>
  </div>
</div>



<div id="features">
  <div class="wrapper">
    <h3>Our Values</h3>
      <ul>
          <li class="feature-1">
              <h4>Integrity</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
          </li>
          <li class="feature-2">
              <h4>Excellance</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
          </li>
          <li class="feature-3">
              <h4>Social Sensitivity</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
          </li>
          <li class="feature-4">
            <h4>Globalization</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
        </li>
          <div class="clear"></div>
      </ul>
  </div>
</div>

<div class="images">
  <h3> Gallery </h3> <br><br>
  <div class="scene">
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g1.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g2.jpg" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g3.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g4.png" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g5.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g6.png" />
      </div>
    </div>
  </div>

  <div class="scene">
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g7.png" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g8.jpg" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g9.jpg" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g10.jpg" />
      </div>
    </div>
    <div class="card">
      <div class="card__face card__face--front">
        <img src="assets/images/g12.jpg" />
      </div>
      <div class="card__face card__face--back">
        <img src="assets/images/g11.jpg" />
      </div>
    </div>
  </div>

</div>

<div id="primary-content">
  <div class="wrapper">
      <article>
          <h3>Looking for a job?</h3>
          <p>Looking for a job is like trying to find a needle in a haystack, except the needle is a job offer and the haystack is made of résumés. It's a journey filled with twists and turns, rejection and triumphs, and enough interviews to make your head spin. But with the right mindset, strategy, and a little bit of luck, you'll be able to navigate the job market and land your dream gig. So put on your detective hat, polish your résumé, and get ready for the adventure of a lifetime.</p>
      </article>
  </div>
</div>

<div id="secondary-content">
  <img id="lookjob" src="assets/images/applyJob.jpg" style="width: 300px; margin-left: -30%;"/>

  <div class="wrapper">
      <article style="background-image: url('images/article-image-1.jpg');">
          <div class="overlay">
              <h4>Secondary Content</h4>
              <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
              <a href="#" class="more-link">View more</a>
          </div>
      </article>
      <article style="background-image: url('images/article-image-2.jpg');">
          <div class="overlay">
              <h4>Secondary Content</h4>
              <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
              <a href="#" class="more-link">View more</a>
          </div>
      </article>


      <div class="clear">

      </div>
  </div>
</div>

<div id="cta">
  <div class="wrapper">
      <h3>Post a job?</h3>
        <p>Ready to unleash the hounds of talent? Post a job and let the floodgates of awesomeness open!</p>
        <p>Ready to join the "matchmaker" industry? Post a job and let the magic of professional matchmaking unfold!</p>
        <p>Ready to unleash your job opportunity into the wild? Post it here and let the job-seekers come flocking!</p>
      <a href="#" class="button-2">
        Lets Go!!
        <!-- <img src="assets/images/joblink.gif" style="width: 60%; height: 70%; float:right;" alt="Computer man" > -->
    </a>
  </div>
</div>

<div style="background-color: rgba(239, 236, 236, 0.684); width: 110%; height: 550px; padding-top: 3%;">
  <a id="contactus">
    <div style="width: 50%; height: 550px; float:left;">
        <div class="contact">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact Us</h3>
            <p>Got questions, suggestions, or just want to say hello? Contact us and let's connect!</p>
            <form action="contactus.php" method="POST">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
              <input class="w3-input w3-section w3-border" type="email" placeholder="Email" required name="Email">
              <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
              <textarea name="body" placeholder="Type your message here..."></textarea>
              <button class="w3-button w3-black w3-section" type="submit" name="submit" value="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
              </button>
            </form>
          </div>

    </div>

    <div style=" width:50%; height: 550px; float:left;">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="80%" height="80%" id="gmap_canvas" src="https://maps.google.com/maps?q=sardar patel institute of technology&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <br>
            </div>
        </div>
    </div>
  </a>
</div>


<footer>
  <div class="wrapper">
      <div id="footer-info">
          <p>Copyright 2014 CompanyName. All rights reserved.</p>
          <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
      </div>
      <div id="footer-links">
          <ul>
              <li><h5>Company</h5></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Meet The Team</a></li>
              <li><a href="#">What We Do</a></li>
              <li><a href="#">Careers</a></li>
          </ul>
          <ul>
              <li><h5>Company</h5></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Meet The Team</a></li>
              <li><a href="#">What We Do</a></li>
              <li><a href="#">Careers</a></li>
          </ul>
          <ul>
              <li><h5>Company</h5></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Meet The Team</a></li>
              <li><a href="#">What We Do</a></li>
              <li><a href="#">Careers</a></li>
          </ul>
      </div>
      <div class="clear"></div>
  </div>
</footer>
