<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glamium - Responsive Landing Page Tamplate</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" href="images/favicon.ico">
    
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500" rel="stylesheet">

    <!-- Pe-icon-7 icon -->
    

    <!-- magnific pop-up -->
    <!-- <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" /> -->

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->

    <!--Material Icon -->
    <!-- <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" /> -->

    <!--Slider-->
    <!-- <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />
    <link rel="stylesheet" href="css/owl.transitions.css" /> -->

    <!-- MENU CUSTOM css -->
    <!-- <link rel="stylesheet" type="text/css" href="css/menu.css"> -->

    <!-- Custom  Css -->
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/purple.css" /> -->

</head>

<body>

    <div id="topnav" class="defaultscroll fixed-top navbar-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 menu">
                    <!-- End Logo container-->

                    <div>
                        <a class="menu-logo" href="">Alumni Connect</a>
                    </div>

                    <div class="menu-extras">
                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>

                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li class="has-submenu active">
                                <a href="#home">Home</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#about">About</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#services">Services</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#client">Client</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#team">Team</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#blog">Blog</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- START HOME -->
    <section class="section bg-home-4" id="home">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center variation-4">
                                <h6 class="home-subtitle font-italic">Bhartiya Vidya Bhavans</h6>

                                
                                <h2 class="home-desc mt-3 line-height_1_6">Sardar Patel Institute Of Technology</h2>
                                <img src="../Glamium/images/spitlogo.png">
                                
                                <h2 class="home-title mt-3"><span class="element" data-elements="RECONNECT | ASSIST | REMINSCE"></span></h2>
                                <div class="mt-5">
                                    <a href="" class="btn btn-custom">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->

    <!-- START ABOUT -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">We Are The Best Consulting Company Ever</h4>
                        <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt donec quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-users text-custom"></i>
                        </div>
                        <h5 class="mt-4">Integrity</h5>
                        <p class="text-muted mt-4 mb-0">Integrity is defined as the quality of being honest and having strong moral 
                            principles. The sole aim of the organisation is to life the mindset of the students to soar new heights, 
                            integrity is of paramount importance. We takes pride in working with integrity and a sense of righteousness 
                            to hold itself to consistent moral and ethical standards.</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-display1 text-custom"></i>
                            <ion-icon name="star-outline"></ion-icon>

                        </div>
                        <h5 class="mt-4">Excellence</h5>
                        <p class="text-muted mt-4 mb-0"> Excellence is the hallmark of consistency. We have consistently ranked among 
                            the top educational institutions in the city and state. It currently occupies a position in the 101 to 150 
                            bracket of the National Institute Ranking Framework. All this has been possible with dedicated input from the management and faculty members.</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-graph1 text-custom"></i>
                        </div>
                        <h5 class="mt-4">Social Sensitivity</h5>
                        <p class="text-muted mt-4 mb-0">The prime goal of an educational institution like ours, strives to make the 
                            society better in all respects by providing quality education. One of the highlights of the new curriculum 
                            under autonomy has been to provide relevant education that would make a difference to the society. </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="about-box-4 mt-4 text-center">
                        <div class="about-4-icon">
                            <i class="pe-7s-global text-custom"></i>
                        </div>
                        <h5 class="mt-4">Globalization</h5>
                        <p class="text-muted mt-4 mb-0">Vasudev Kutumbakam- The whole universe is our family. With a strong belief in 
                            Vasudev Kutumbakam, we extends its services in education to one and all without any discrimination on 
                            any grounds. We strive to consistently uplift the standard of education provided, with relevance to the 
                            current global trends and standards.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END ABOUT -->

    <!-- START SERVICES -->
    <section class="section bg-light" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Our Events</h4>
                        <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt donec quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-4">
                    <div class="services-box-4 mt-4">
                        <div class="services-img">
                            <img src="images/works/img-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="services-content-4 text-center">
                            <div class="services-4-icon">
                                <i class="mdi mdi-chart-pie"></i>
                            </div>
                            <h4 class="f-20">Financial Analysis</h4>
                            <p class="text-muted mt-3">Pellentesque vivamus pulvinar in vestibulum tristique the sodales phasellus consequat dolor eleifendfeugiat.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="services-box-4 mt-4">
                        <div class="services-img">
                            <img src="images/works/img-2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="services-content-4 text-center">
                            <div class="services-4-icon">
                                <i class="mdi mdi-database"></i>
                            </div>
                            <h4 class="f-20">Investment Planning</h4>
                            <p class="text-muted mt-3">Pellentesque vivamus pulvinar in vestibulum tristique the sodales phasellus consequat dolor eleifendfeugiat.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="services-box-4 mt-4">
                        <div class="services-img">
                            <img src="images/works/img-3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="services-content-4 text-center">
                            <div class="services-4-icon">
                                <i class="mdi mdi-chart-bar"></i>
                            </div>
                            <h4 class="f-20">Saving & Investments</h4>
                            <p class="text-muted mt-3">Pellentesque vivamus pulvinar in vestibulum tristique the sodales phasellus consequat dolor eleifendfeugiat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- EDN SERVICES -->

    <!-- START COUNTER -->
    <section class="section bg-counter">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row vertical-content" id="counter">
                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-4" data-count="920">652</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">Happy Customers</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-4" data-count="850">320</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">Completed Projects</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-3" data-count="100">51</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">World wide Client</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box text-center mt-4">
                        <h2 class="counter-value mt-4" data-count="789">462</h2>
                        <div class="counter-border mt-4"></div>
                        <h5 class="text-white mt-4">Architecture Worker</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END COUNTER -->

    <!-- START CLIENT -->
    <section class="section bg-light" id="client">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Founders Message</h4>
                        <!-- <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt donec quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p> -->
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4 justify-content-center">
                <div class="col-lg-10">
                    <div class="owl-carousel" id="owl-demo-4">
                        <div class="item">
                            <div class="testimonial-box-4 text-center ml-2 mr-2">
                                <div class="p-5 testimonial-desc mt-4">
                                    <div class="testimonial-icon">
                                        <i class="mdi mdi-format-quote-open"></i>
                                    </div>

                                    <p class="text-muted f-17 mb-3 mt-3">"Education would fail ignominiously in its objective if it 
                                        manufactures only a robot and called him an economic man stressing the adjective economic and 
                                        forgetting the substantive man. A university cannot afford to ignore the cultural aspects of 
                                        education whatever studies it specilizes in. Science is a means, not an end. Whereas culture 
                                        is an end in itself. Even though you may ultimately become a scientist, a doctor, or an engineer, 
                                        you must while in college, absorb fundamental values which will make you a man of culture. An 
                                        engineer has not merely to build bridges; he has to be a devoted husband, a kind father, a 
                                        friendly neighbour, a dutiful citizen, and a man true to himself. He will have trials and 
                                        tribulations; his heart will fail him at times; he will then need the strength which true culture 
                                        alone can give."</p>
                                </div>
                                <div class="testimonial-img">
                                    <img src="images/munshi.jpg" class="img-fluid rounded-circle" alt="">
                                    <div class="mt-4">
                                        <h5 class="text-custom">Kulpati Dr. K. M. Munshi</h5>
                                        <p class="text-muted mb-0">- Founder</p>
                                    </div>
                                </div>
                            </div>
                        </div>
<!-- 
                        <div class="item">
                            <div class="testimonial-box-4 text-center ml-2 mr-2">
                                <div class="p-5 testimonial-desc mt-4">
                                    <div class="testimonial-icon">
                                        <i class="mdi mdi-format-quote-open"></i>
                                    </div>
                                    <p class="text-muted f-17 mb-3 mt-3">These cases are perfectly simple and easy to distinguish In a free hour when power tha choice untrammelled and when nothing our prevents pleasure sheets with the release of Letraset containing welcomed sheets avoided.</p>
                                </div>
                                <div class="testimonial-img">
                                    <img src="images/users/img-2.jpg" class="img-fluid rounded-circle" alt="">
                                    <div class="mt-4">
                                        <h5 class="text-custom">Mickey Loyd</h5>
                                        <p class="text-muted mb-0">- Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-box-4 text-center ml-2 mr-2">
                                <div class="p-5 testimonial-desc mt-4">
                                    <div class="testimonial-icon">
                                        <i class="mdi mdi-format-quote-open"></i>
                                    </div>
                                    <p class="text-muted f-17 mb-3 mt-3">These cases are perfectly simple and easy to distinguish In a free hour when power tha choice untrammelled and when nothing our prevents pleasure sheets with the release of Letraset containing welcomed sheets avoided.</p>
                                </div>
                                <div class="testimonial-img">
                                    <img src="images/users/img-3.jpg" class="img-fluid rounded-circle" alt="">
                                    <div class="mt-4">
                                        <h5 class="text-custom">Lester Currin</h5>
                                        <p class="text-muted mb-0">- Meneger</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CLIENT -->

    <!-- START TEAM -->
    <section class="section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Smart Team</h4>
                        <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt donec quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-3">
                    <div class="team-box text-center mt-4">
                        <div class="team-4-img">
                            <img src="images/bnc.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h5>Dr. Bhalchandra Chaudhari</h5>
                            <p class="text-muted text-uppercase f-14">Principal</p>

                            <div class="mt-4">
                                <ul class="list-inline team-4-social">
                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-dribbble"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box text-center mt-4">
                        <div class="team-4-img">
                            <img src="images/ysr.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h5>Dr. Y S Rao</h5>
                            <p class="text-muted text-uppercase f-14">Vice Principal</p>

                            <div class="mt-4">
                                <ul class="list-inline team-4-social">
                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-dribbble"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box text-center mt-4">
                        <div class="team-4-img">
                            <img src="images/bnc.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h5>Scott Hammond</h5>
                            <p class="text-muted text-uppercase f-14">Marketing</p>

                            <div class="mt-4">
                                <ul class="list-inline team-4-social">
                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-dribbble"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="team-box text-center mt-4">
                        <div class="team-4-img">
                            <img src="images/users/img-4.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="text-center mt-4">
                            <h5>Kathryn Lindgren</h5>
                            <p class="text-muted text-uppercase f-14">Finance</p>

                            <div class="mt-4">
                                <ul class="list-inline team-4-social">
                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-dribbble"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#" class="rounded-circle">
                                            <i class="mdi mdi-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TEAM -->

    <!-- START CAT -->
    <section class="section section-lg bg-cta">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box text-center">
                        <h4 class="cta-title">We alawys try to provide you our best business consulting service</h4>
                        <p class="cta-desc mt-4">Sollicitudin accumsan cras pretium lacus aliquam placerat cras iaculis lorem porttitor facilisis quisque hendrerit tortor dignissim blandit primis faucibus.</p>
                        <div class="mt-5">
                            <a href="" class="btn btn-sm btn-custom mr-3">Register Now</a>
                            <a href="" class="btn btn-sm btn-outline">Learn More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END CTA -->

    <!-- START BLOG -->
    <section class="section" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">From the Blog</h4>
                        <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt donec quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-4">
                    <div class="blog-box mt-4">
                        <div class="blog-img">
                            <img src="images/blog/img-1.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="blog-4-content p-2">
                            <h5><a href="" class="blog-5-title f-19 line-height_1_6">Praesent pellentesque laoreet liberao convallis purus tincidunt.</a></h5>
                            <p class="text-muted mt-3">Proin lacinia consequat they mauris tristique fussce suscipit nullam magna tellus pretium justo mattis Curabitur lorem.</p>

                            <div class="mt-4">
                                <div class="float-left">
                                    <p class="mb-0"><i class="mdi mdi-clock text-custom mr-2"></i>july 25,2018</p>
                                </div>

                                <div class="text-right">
                                    <a href="" class="read-more">Read more <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box mt-4">
                        <div class="blog-img">
                            <img src="images/blog/img-2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="blog-4-content p-2">
                        <h5><a href="" class="blog-5-title f-19 line-height_1_6">Consectetur libero in tincidunt ornar tellus eleifend quis suscipit.</a></h5>
                        <p class="text-muted mt-3">Vestibulum aliquam maximus ligula convallis auctor magna fusce dapibus cursus congue malesuada massa sagittis.</p>

                        <div class="mt-4">
                            <div class="float-left">
                                <p class="mb-0"><i class="mdi mdi-clock text-custom mr-2"></i>july 25,2018</p>
                            </div>

                            <div class="text-right">
                                <a href="" class="read-more">Read more <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box mt-4">
                        <div class="blog-img">
                            <img src="images/blog/img-3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="blog-4-content p-2">
                        <h5><a href="" class="blog-5-title f-19 line-height_1_6">Donec venenatis ornare dapibus they cursus blandit interdum.</a></h5>
                        <p class="text-muted mt-3">Conubia nostra inceptos in himenaeos tellus fringilla accumsan accumsan erats vivamus tristique placerat pellentesque.</p>

                        <div class="mt-4">
                            <div class="float-left">
                                <p class="mb-0"><i class="mdi mdi-clock text-custom mr-2"></i>july 25,2018</p>
                            </div>

                            <div class="text-right">
                                <a href="" class="read-more">Read more <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END BLOG -->

    <!-- START CONTACT -->
    <section class="section bg-light" id="contect">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h4 class="title-heading">Contact us</h4>
                        <p class="title-desc text-muted mt-3">Maecenas imperdiet sodales lectus consequat tincidunt donec quis ornare risus varius natoque penatibus magnis parturient montes dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-6">
                    <div class="map mt-4">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="100%" height="280" style="border: 0" allowfullscreen=""></iframe>

                        <h5 class="mt-3">Our Address</h5>
                        <p class="text-muted mt-3 mb-0">4870 Broaddus Avenue Madisonville, KY 42431 </p>
                        <p class="text-muted">270-205-3030 , 404-219-6834</p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-box">
                        <div class="custom-form">
                            <div id="message"></div>
                            <form method="post" action="php/contact.php" name="contact-form" id="contact-form">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                            <input name="name" id="name" type="text" class="form-control" placeholder="Your Name*">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                            <input name="email" id="email" type="email" class="form-control" placeholder="Your Email*">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                            <textarea name="comments" id="comments" rows="5" class="form-control" placeholder="Write Message*"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mt-3">
                                            <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            <div id="simple-msg"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END CONTACT -->

    <!-- START FOOTER -->
    <footer class="section bg-footer">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-4">
                    <div class="footer-box">
                        <div class="footer-title">
                            <h5 class="text-uppercase">Glamium</h5>
                        </div>

                        <p class="footer-info mt-5">Aenean mattis fringilla varius in sapien eleifend bibendum commodo purus blandit.</p>

                        <div class="mt-4">
                            <p class="footer-info mb-2"><i class="mdi mdi-phone pr-3"></i>123-456-789 , 609-698-6517</p>
                            <p class="footer-info mb-2"><i class="mdi mdi-email pr-3"></i>JosephBDivers@teleworm.us</p>
                            <p class="footer-info mb-2"><i class="mdi mdi-web pr-3"></i>heincomewell.com</p>
                        </div>

                    </div>
                </div> -->

                <!-- <div class="col-lg-4">
                    <div class="footer-box">
                        <div class="footer-title">
                            <h5 class="text-uppercase">Our Clients</h5>
                        </div>

                        <div class="client-logo mt-5">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="client-images">
                                        <img src="images/client/img-1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="client-images">
                                        <img src="images/client/img-2.png" alt="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="client-images">
                                        <img src="images/client/img-3.png" alt="" class="img-fluid">
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-4">

                                <div class="col-lg-4">
                                    <div class="client-images">
                                        <img src="images/client/img-4.png" alt="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="client-images">
                                        <img src="images/client/img-5.png" alt="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="client-images">
                                        <img src="images/client/img-6.png" alt="" class="img-fluid">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div> -->

                <div class="col-lg-4">
                    <div class="footer-box">
                        <div class="footer-title">
                            <h5 class="text-uppercase">Alumni Connect</h5>
                        </div>

                        <p class="footer-info mt-5">Sardar Patel Institute Of Technology</p>

                        <div class="newsletter mt-5">
                            <form action="#">
                                <input placeholder="Your Email Address" type="text">
                                <button type="submit" class="btn btn-custom"><i class="mdi mdi-chevron-right"></i></button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- START FOOTER-ALT -->
    <section class="bg-footer-alt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="float-left pull-none">
                        <p class="copy-rights text-light mb-0">2018 - 2020 © Glamium.</p>
                    </div>

                    <div class="float-right pull-none">
                        <ul class="list-inline social-icon mb-0">
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-dribbble"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-google"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-facebook"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER-ALT -->
    
    <!-- JAVASCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrollspy.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/counter.init.js"></script>
    <script src="js/contact.js"></script>

    <script src="js/app.js"></script>
</body>

</html>