  Hero

<body>
  <section class="et-hero-tabs">
    <h1>ALUMNI CONNECT</h1>
    <h3>Student Dashboard</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-lookforjob">Look for Job</a>
      <a class="et-hero-tab" href="#tab-postjobs">Post Jobs</a>
      <a class="et-hero-tab" href="#tab-guidance">Guidance</a>
      <a class="et-hero-tab" href="#tab-trends">Trends</a>
      <a class="et-hero-tab" href="#tab-profile">Profile</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide">
      <img src="assets/images/studentdashboard.jpeg" class="sdimg">
    </section>
    <section class="et-slide" id="tab-lookforjob">
      <h1>Look for Job</h1>
      <h3>something about Look for Job</h3>
    </section>
    <section class="et-slide" id="tab-postjobs">
      <div class="form-box">
        <div class="form-value">

        <!-- <form class="border p-3" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()"> -->


    <div class="row g-0">
      <div class="col text-center p-2 mb-3">
        <span class="fs-3"><h2>Student Login</h2></span>
      </div>
    </div>
    <div class="col mb-3">
      <div class="col mb-3">
        <div class="inputbox">
          <!-- <ion-icon name="mail-outline"></ion-icon> -->
        <input type="email" required class="form-control input-field" id="email" formControlName="logemail">
        <label for="">Email</label>
      </div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
          Email is required
        </div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
          Email is Invalid
        </div>
      </div>
      <div class="col mb-1">
        <div class="inputbox">
          <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
        <input type="password" required class="form-control input-field" id="password" formControlName="logpassword">
        <label for="">Password</label>
        </div>
        <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
          Password is required
        </div>
      </div>
      <div class="d-grid">
      <div class="row">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
    </div>
    </div>
      <div class="row">
          <div class="d-grid">
            <div class="loginstu">

            <a routerLink="/studentregister">Register as a Student</a><br>
            <a routerLink="/facultylogin">Faculty Login</a>
          </div>

        </div>
      </div>


    </div>

  <!-- </form> -->


  </div>
  </div>

    </section>
    <section class="et-slide" id="tab-guidance">
      <h1>Guidance</h1>
      <h3>something about Guidance</h3>
    </section>
    <section class="et-slide" id="tab-trends">
      <h1>Trends</h1>
      <h3>something about Trends</h3>
    </section>
    <section class="et-slide" id="tab-profile">
      <h1>Profile</h1>
      <h3>something about Profile</h3>
    </section>
  </main>
  <script src="src/app/components/StudentDashboard/stickynavbar.component.js"></script>

</body>
